body {
	background: gray;
}

.main {
	background-color: white;
	height: 500px;
	width: 300px;
	margin: 0 auto;
	background: url(img/notepad1.jpg); 
}

.in-cart{
	text-decoration: line-through;
}
.need {
	font-weight: bold;
}
ol {
	list-style-type: lower-greek;
}
li{
	font-family: 'Roboto' Helvetica, Sans-serif;
	font-weight: bold;
	color: #333;
}
#error{
	display: none;
}
h1{
	padding-top: 70px;
}