body {
	background: gray;
}

.main {
	background-color: white;
	height: 500px;
	width: 300px;
	margin: 0 auto;
}

.in-cart{
	text-decoration: line-through;
}
.need {
	font-weight: bold;
}
ol {
	list-style-type: lower-greek;
}
li{
	background-color: green;
	border-radius: 10px;
}
#error{
	display: none;
}