body {
	background:url(img/kitchen1.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center center;
}

.main {
	background-color: transparent;
	height: 660px;
	width: 360px;
	margin: 0 auto;
	background: url(img/whiteboard1.jpg);
	background-repeat: no-repeat;
}

.in-cart{
	text-decoration: line-through;
}
.need {
	font-weight: bold;
}
ol {
	list-style-type: lower-greek;
	padding-left: 50px;
}
h1, p, li{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	color: #333;
}

#error{
	display: none;
	font-family: 'Permanent Marker', cursive;
	padding-left: 50px;
	color: red;
}
#input{
	position: relative;
	left: 20px;
}
h1{
	text-align: center;
	padding-top: 40px;
	font-size: 20px;
}
p {
	text-align: center;

}
#add-item {
	position: relative;
	left: 30px;
}
#remove {
position: relative;
left: 35px;
}
